body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  color: #808080;
  background-color: #ffffff;
}

a,
a:focus {
  color: #1a1a1a;
}

.catanis-main-menu > ul > li > a {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
}
.cata-black-color {
  color: #292929;
}
.cata-white-color {
  color: #ffffff;
}

/*=== Classic & Flat Button Element ===*/

/*Outline Button*/

/*Button Link*/

/* Separator Element*/
/*Contact Info Block*/

/*Simple List*/

/* SPECIAL: ordered styl (numlist) */

body.cata-scheme-main-color a:hover,
body.cata-scheme-main-color .cata-backtotop .fa,
body.cata-scheme-main-color .catanis-main-menu > ul > li > a::before,
body.cata-scheme-main-color .cata-footer .color-light a:hover,
body.cata-scheme-main-color #mobile-nav .mobile-nav-icon-toggle .mobi-nav-btn,
body.cata-scheme-main-color .cata-header .catanis-main-menu > ul > li:hover > a,
body.cata-scheme-main-color .cata-header .catanis-main-menu > ul > li:focus > a,
body.cata-scheme-main-color
  .cata-header
  .catanis-main-menu
  > ul
  > li:active
  > a {
  content: "❤️";
}
body.cata-scheme-main-color input[type^="submit"]:hover,
body.cata-scheme-main-color .catanis-loader-wraper.cata-style2 .heart:before,
body.cata-scheme-main-color .catanis-loader-wraper.cata-style2 .heart:after,
body.cata-scheme-main-color .cata-frsvp > a,
body.cata-scheme-main-color
  .vc_tta.vc_tta-accordion.cata-accordion.cata-style1
  .vc_tta-panel
  .vc_tta-panel-title
  > a
  .vc_tta-icon {
  background-color: #70a076;
}

/*Border Color*/

/*Timeline*/

.cata-header.cata-dark .header-bottom {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}

.cata-header.cata-dark .catanis-main-menu > ul > li > a,
.cata-header.cata-dark .catanis-main-menu > ul > li > a {
  color: #282828;
}

h3.heading-title {
  font-family: "Alex Brush", sans-serif;
}

h2,
h3,
h4,
h3.heading-title {
  color: #1a1a1a;
}

.punjabi {
  font-family: "Langar", cursive;
  text-align: center;
}
